body{
    margin: auto;
}

/* #header{
    height:60px;
    background-color: #E18775;
} */

#icon{
    float:left;
}

#icon img{
    height:40px;
    width:40px;
    margin-left: 15%;
    margin-top: 10%;
    float: left;
}



a{
    text-decoration: none;
    cursor: pointer;
}


.search{
    height: 500px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('images/food-wallpaper.png');
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 100% 500px; 
}

.search img{
    height:70px;
    width: 70px;
    margin-left: 46%;
    margin-top: 7%;
    text-align: center;
}

.text {
    font-size: 30px;
    color: white;
    font-style: italic;
    margin-left: 34%;
    margin-top: 0.5%;
}

.dropdown{
    height:60px;
    width:50%;
    margin-left:29%;
    margin-top: 1.5%;
    
}

select{
    height:60px;
    width:35%;
    font-size:13px;
    text-align:center;
}

.restolist{
    width:50%  
}

    /* QUICK SEARCH --- ITEMS DISPLAY */
.quicksearch{
    height: 600px;
    margin-left: 11%;
    width: 80%;
    margin-top: 3%;
}

.QuickHeading{
    display: block;
    color: yellow;
    font-size: 30px;
    margin-left: 5%;
    margin-top: 2%;
}

.QuickText{
    color: #808080;
    font-size: 20px;
    margin-left: 5%;
}


.tilecontainer{
    height:200px;
    width:25%;
    float: left;
    margin-top: 2%;
    margin-left: 5%;
    box-shadow: 10px 20px 10px gray;
}

.tilecontainer img{
    height: 150px;
    width: 100%;
}

.tilecomponent2{
    text-align: center;
}

.componentheading{
    font-size: 23px;
    color:orange;
}

.componentheading > a{
    color:orange;
}
.componentsubheading{
    color:gray;
}

#footer{
    height: 300px;
    background-color: #e09c83;
    margin-left: 15%;
    width: 68%;
    border: red 2px solid;
}

.foot1{
    width:35%;
    height:120px;
    float: left;
    border-right:2px solid white
}

#social{
    margin-left:10px;
    float: left;
}

.SocialText{
    font-size: 14px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2px;
}

.buttons{
    margin-top:2%;
}

.button{
    background-color: white; 
    border: none;
    color: black;
    text-decoration: none;
    font-size: 10px;

}

#footer ul{
    list-style-type: none;
}